extends layout

block content
  //h1= title
  //p Welcome to #{title}
  h1 Load images to process
  p Paste each name and image url on a different line
  form(method='post')
    textarea(name='lines' cols=60 rows=10)
    br
    button(type='submit') Load to queue
